<!--@subject Thank You for Signing Up! @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
              <tr>
                  <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          
                          <tr>
                              <td align="center" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 25px;line-height: 35px;letter-spacing: .1em; color: #efeeed;text-transform: uppercase;" class="padding-copy">
                                  Thank you for your subscription
                              </td>
                          </tr>
                          
                          <tr>
                              <td align="center" style="padding: 0px 20px 0 20px;">
                                    <!-- COPY -->
                                    <h2 style="padding: 20px 0px 0 10px; font-family: 'BrandonGrotesqueWeb-Bold','Arial Black',Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 11px;line-height: 32px;letter-spacing: .08em;text-transform: uppercase; color: #efeeed;">4 Doses of Goodness</h2>
                                    <ul style="padding: 20px 45px 0 45px; font-size: 18px;line-height: 24px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed;list-style: none;text-align: left;">
                                        <li style="color: #efeeed;margin-bottom: 10px;"><b>Early Access</b> <br> Be the first to learn about our latest products and you may even receive exclusive invites to product launches!</li>
                                        <li style="color: #efeeed;margin-bottom: 10px;"><b>Easy Selection</b> <br> Our tea bar is easy to navigate, allowing you to cruise through your shopping process and purchase what you love effortlessly.</li>
                                        <li style="color: #efeeed;margin-bottom: 10px;"><b>Exclusive Promotions</b>  <br> As a subscriber, you will enjoy special sales and exclusive promotions before anyone else.</li>
                                        <li style="color: #efeeed;margin-bottom: 10px;"><b>Monogram Rebates</b>  <br> Earn rebates when you shop with us and use it to offset your next purchase!</li>
                                    </ul>
                              </td>
                          </tr>                                                            
                          <tr>
                              <td align="center">
                                  <!-- BULLETPROOF BUTTON -->
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                    <tr>
                                        <td align="center" style="padding: 65px 0 0 0;" class="padding-copy">
                                            <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                <tr>
                                                    <td align="center"><a href="{{store url=''}}" target="_blank" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;text-transform: uppercase;letter-spacing: .05em;color: #fff;border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: 0 0;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Monogram Website</a></td>
                                                    <td align="center" width="57"></td>
                                                    <td align="center"><a href="{{store url='store.html'}}" target="_blank" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;text-transform: uppercase;letter-spacing: .05em;color: #fff;border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: 0 0;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Tea Store</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>                                    
                              </td>
                          </tr>
                          
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>

{{template config_path="design/email/footer"}}
