input.input-class {
  background-color: #756b66;
  border: none;
  .body-font;
  font-size: 10px;
  line-height: 20px;
  color: @off-white;
  padding-left: 18px;
  height: 24px;  
  -webkit-text-fill-color: white !important;
}

textarea {
  background-color: #756b66;
  border: none;
  .body-font;
  font-size: 10px;
  line-height: 20px;
  color: @off-white;
  padding-left: 18px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #756b66 inset;
    color: @off-white;
}





.add-input-class-styling{

  // background-color: #756b66;
  background-color: #7b706b; // suyeon request
  border: none;
  .body-font;
  font-size: 10px;
  line-height: 20px;
  color: @off-white;
  padding-left: 18px;
  height: 24px;

  // removed bootstrap blue highlight
  &:focus{
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


.add-input-class-font{

  border: none;
  .body-font;
  // font-size: 10px;
  font-size: 12px; // suyeon
  line-height: 24px;
  color: @off-white;
}