.tea-product-detail-page {
  overflow: visible;
}

.catalog-product-view {
  .messages {
    display: none;
  }
}

#tea-product-detail-section-1 {
  #messages_product_view {
    position: absolute;
    width: 60%;
    top: 100px;
    .messages {
      display: inline-block;
    }
  }  
  #product-detail-img-info-container {
    .v-align {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
    .product-info {
      padding-top: 90px;
      padding-bottom: 90px;
      padding-left: 45px;
      padding-right: 45px;
      h5 {
        // font-size: 9px;
        line-height: 10px;
        padding-bottom: 7px;
        // color: @off-white;
        color: @white;
        text-transform: uppercase;
      }
      p {
        // color: @off-white;
        // font-size: 10px;
        // line-height: 16px;
        color: @white;
        font-size: 12.5px;
        line-height: 16px;
        margin-bottom: 24px;
      }
      span {
        //color: @off-white;
        //font-size: 10px;
        color: @white;
        font-size: 12.5px;
        line-height: 16px;
      }
      .ajax_msg_product {
        position: absolute;
        top: 22px;
        width: 100%;
        right: -130px;
      }
      .row {
        margin-bottom: 28px;
      }

      .product-info-col-2 {
        padding-left: 30px;
      }

      .steeping-suggestion {
        .steeping-suggestion-icon-1 {
          background: url('../images/icons/thermometer-icon.svg') no-repeat;
          width: 10px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 11px;
        }

        .steeping-suggestion-icon-2 {
          background: url('../images/icons/clock-icon.svg') no-repeat;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
          margin-left: -5px;
        }
      }
      
      .social-media-share {
        margin-top: 24px;
        ul {        
          li {
            display: inline-block;
            margin-right: 5px;
            a {
              color: @off-white;
              &:hover {
                color: @off-black;
              }
            }
          }
        }
      }

      input.qty {
        background: none;
        border: 1px solid @off-white;
        border-left: 0px;
        border-right: 0px;
        width: 36px;
        height: 24px;
        text-align: center;
        color: @off-white;
        font-size: 10px;
        line-height: 16px;
        .body-font;      
      }
      .plus {
        background: url(../images/icons/plus.png) no-repeat center;
        width: 10px;
        height: 10px; 
        display: inline-block;
        display: inline-block;
        border: 1px solid @off-white;
        padding: 11px;
        vertical-align: middle;
      }
      .minus {
        background: url(../images/icons/minus.png) no-repeat center;
        width: 10px;
        height: 10px; 
        display: inline-block;
        border: 1px solid @off-white;
        padding: 11px;
        vertical-align: middle;
      }

      #add-to-cart {
        margin-top: 17px;
        background: none;
      }

      #ajax_loader_product {
        img {
          width: 15px;
          position: absolute;
          top: 22px;
          right: 0;
        }        
      }

      .j2t-loyalty-points {
        display: none;
      }
      
    }
    .suggestion-container {
      position: absolute;
      width: 30%;
      padding: 0px;
      right: 0px;
      background-color: rgba(236, 205, 206, 0.5);      
    }
    .earl-grey-neroli-suggestion-bg {
      background-color: rgba(179, 197, 205, 0.5);
    }
    .cherry-japonais-suggestion-bg {
      background-color: rgba(236, 205, 206, 0.5);
    }
    .black-tea-selection-suggestion-bg {
      background-color: rgba(197, 180, 227, 0.5);
    }
    .green-tea-and-oolong-selection-suggestion-bg {
      background-color: rgba(171 ,199 ,202, 0.5);
    }
    .herbal-tea-selection-suggestion-bg {
      background-color: rgba(186, 197, 185, 0.5);
    }
    .jasmine-silk-pearls-suggestion-bg {        
      background-color: rgba(163, 177, 200, 0.5);
    }
    .kashmere-suggestion-bg {        
      background-color: rgba(241, 166, 147, 0.5);
    }
    .lapsang-florale-suggestion-bg {        
      background-color: rgba(199, 180, 226, 0.5);
    }
    .milky-oolong-suggestion-bg {        
      background-color: rgba(216, 210, 196, 0.5);
    }
    .morning-english-suggestion-bg {        
      background-color: rgba(254, 210, 152, 0.5);
    }
    .provencal-herbs-suggestion-bg {        
      background-color: rgba(213, 215, 85, 0.5);
    }
    .rose-of-ariana-suggestion-bg {        
      background-color: rgba(253, 146, 163, 0.5);
    }
    .saffronais-suggestion-bg {        
      background-color: rgba(255, 170, 97, 0.5);
    }
    .shiso-mint-suggestion-bg {        
      background-color: rgba(188, 196, 185, 0.5);
    }
    .tea-tasting-assortment-suggestion-bg {        
      background-color: rgba(235, 194, 131, 0.5);
    }
    .uji-sencha-suggestion-bg {        
      background-color: rgba(189, 200, 196, 0.5);
    }

    .suggestion {
      padding-top: 80px;
      padding-bottom: 10px;
      h5 {
        // font-size: 9px;
        line-height: 10px;
        padding-bottom: 7px;
        // color: @off-white;
        color: @white;
        text-transform: uppercase;
        text-align: center;
      }
      ul.suggestion-list {
        > li {
          margin-bottom: 15px;
        }
      }
      ul {
        padding-top: 10px;
        text-align: center;
        li {
          a {
            .header-font;
            font-size: 10px;
            line-height: 10px;
            padding-bottom: 7px;
            // color: @off-white;
            color: @white;
            text-transform: uppercase;
            letter-spacing: 0.08em;

            // display: inline-block;
            i {
              font-size: 10px;
              padding-left: 3px;
            }
            &:hover {
              color: fade(@off-white, 50%);
            }
            &.product-image {
              padding-bottom: 0px;
            }
          }
        }
        &.two-column {
          li.each-product {
            width: 45%;
            display: inline-block;
            a {
              img {
                width: 128px;
              }
            }
          }
        }
      }
    }
    .custom-product-carousel .slick-prev , .custom-product-carousel .slick-next {
      display: none!important;
    }
  }    
}

#tea-product-detail-section-2 {
    background-color: @whiteish-grey;
    padding-top: 80px;
    padding-bottom: 80px;


    #popular-tea-layering-container{
      text-align: center;
    }


    // margin-top: 40px;
    .review-product {
      text-align: center;
      width: 202px;
      margin: 0 auto;
      display: inline-block;
      vertical-align: top;
      width: 19.7%;

      .img-container {
        position: relative;
        margin: 0 auto;
        display: block;
        padding-bottom: 30px;
        height: 180px;   
      }
    }
    img {

      &.parent {
        position: absolute;
        width: 180px;   
        top: 0;
        left: 10%;
        z-index: 1;                   
      }
      &.overlay {   
        position: absolute;
        width: 180px;        
        top: 0;
        left: 10%;
        z-index: 0;        
      }
    }

    h4 {
      color: @footer-brown;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 45px;
    }

    h3 {
      text-transform: uppercase;
      text-align: center;
      color: @footer-brown;
      font-size: 12px;
      padding-bottom: 10px;
      sup {
        font-size: 9px;
      }
    }
    h5 {
      // font-size: 9px;
      line-height: 10px;
      padding-bottom: 7px;
      color: @footer-brown;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      text-align: center;
      color: @footer-brown;
      font-size: 10px;
      line-height: 16px;
      margin-bottom: 24px;
      width: 150px;
      margin: 0 auto;
    }
}

#tea-product-detail-section-3 {
  padding-top: 80px;
  padding-bottom: 80px;
  .row {
    padding-bottom: 15px;
  }
  h4 {
    color: @off-white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 45px;
  }
  h3 {
    .header-font-02;
    text-transform: uppercase;
    // font-size: 12px;
    font-size: 13px;
    padding-left: 20px;
  }
  label {
    .header-font;
    text-transform: uppercase;
    // color: @off-white;
    // font-size: 9px;
    color: @white;
    font-size: 10px;
    letter-spacing: 0.08em;
  }
  input {
    border: none;
    background-color: #756b66;
    width: 100%;

    .body-font; 
    // height: 26px;
    // font-size: 10px;
    // color: @off-white;
    
    height: 30px;
    color: @white; 
    font-size: 12px;
    padding-left: 20px;
  }
  .col-md-6 {
    padding-right: 0px;
  }
  textarea {
    border: none;
    background-color: #756b66;
    // width: 233px;
    width: 100%;
    // height: 105px;
    .body-font; 
    // font-size: 10px;    
    // color: @off-white; 
    padding-left: 20px;

    height: 113px;
    font-size: 12px;
    color: @white;
    padding-top: 7px;
  }
  .submit-review {
    margin-top: 40px;
    float: right;
  }

  .dropdown {
    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
    display: inline-block;
    position: relative;
    width: 100%;
    &:before {
      font-family: FontAwesome;
      content: "\f107";
      position:absolute;
      display:block;
      top: 3px;
      right: 12px;
      pointer-events: none;
      font-size: 10px;
      color: @off-white;
    }
    select {
      background-color: #756b66;
      border: none;
      // height: 26px;
      padding-left: 20px;   
      width: 100%;

      

      .appearance(none);
      .round(0px);  
      // font-size: 10px;    
      // color: @off-white;
      .body-font;

      height: 30px;
      font-size: 12px;
      color: @white;
    }
  }
}

