.tea-product-detail-page {
  overflow: visible;
}

@media only screen and (max-width: 991px) {
  input {
    border-radius: 0!important;
  }
}


// gift card specific
body.product-gift-card {
  #tea-product-detail-section-2, #tea-product-detail-section-3 {
    display: none;
  }
  #tea-product-detail-section-1 {
    .container-fluid {
      padding: 0px;
    }
  }  
}

.catalog-product-view {
  .messages {
    display: none;
  }
}

#tea-product-detail-section-1 {
  overflow: hidden;
  #messages_product_view {
    position: absolute;
    width: 60%;
    top: 100px;
    .messages {
      display: inline-block;
    }
  }  
  #product-detail-img-info-container {
    .v-align {
      display: inline-block;
      vertical-align: middle;
      float: none;      
    }
    .gift-card-img{
      display: inline-block;
      width: 100%;

      // border: 1px solid #cccccc;
      //height: 467px;
      height: 100%;
      background-color: #999089;
      margin-bottom: -6px;

      .giftcard-product-media {
        float: none!important;;
        width: auto!important;;
        height: auto!important;;
      }


      .vcenter{
        display: table;
        width: 100%;
        //height: 467px;
        height: 874px;
        float: none!important;

        @media all and (max-width: 480px) {
          height: 100%;
        }

        .vcenter2{
          display: table-cell;
          vertical-align: middle;
          position: static!important;
          height: 100%!important;
          // background-size: 448px 617px;
          background-size: 465px 750px;

          @media all and (max-width: 990px) {
            background-size: auto auto;
            background-position: 50% 50%;
          }

          @media all and (max-width: 480px) {
            background-size: 90%;
            background-position: 50% 50%;
          }

          #gift-design-01,
          #gift-design-02{
            display: block;
            margin: 0 auto;
            position: relative;

            width: 465px;
            height: 750px;
            margin-top: 62px;

            @media all and (max-width: 480px) {
              width: 100%;
              height: 670px;
            }
            @media all and (max-width: 380px) {
              width: 100%;
              height: 580px;
            }
            @media all and (max-width: 320px) {
              width: 100%;
              height: 490px;
            }

            img{
              position: absolute;
              top: 0;
              left: 0;
            }

            .gifttext{
              position: absolute;
              top: 110px;
              left: 30px;
              height: 620px;
              width: 100%;
              text-align: left;
              color: @dark-brown!important;

              @media all and (max-width: 480px) {
                top: 100px;
                left: 45px;
                height: 480px;
              }

              @media all and (max-width: 380px) {
                top: 80px;
                left: 40px;
                height: 430px;
                width: 100%;
              }
              @media all and (max-width: 320px) {
                top: 60px;
                left: 35px;
                height: 370px;
                width: 100%;
              }

              .gifttext-intro{
                .header-font-02;
                font-size: 14px;
                line-height: 20px;                
                letter-spacing: 0.05em;
                text-transform: uppercase;

                height: 45px;
                @media all and (max-width: 480px) {
                  font-size: 8px;
                  line-height: 10px;                  
                  height: 30px;
                }
                // .dear {
                //   font-size: 20px;
                //   margin-bottom: 4px;
                //   @media all and (max-width: 990px) {
                //     font-size: 10px;   
                //   }
                // }
              }
              .gifttext-title{
                .header-font;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.3em;
                text-transform: uppercase;

                margin-bottom: 12px;
                @media all and (max-width: 480px) {
                  font-size: 10px;
                  line-height: 14px;
                }
              }
              .gifttext-amount{
                font-size: 45px;
                line-height: 30px;
                letter-spacing: 0.01em;
                // color: @dark-brown;

                margin-bottom: 20px;
                @media all and (max-width: 480px) {
                  font-size: 25px;
                  line-height: 25px;
                  margin-bottom: 5px;
                }
              }
              .gifttext-copy{
                .body-font;
                font-size: 12px;
                line-height: 20px;
                // color: @dark-brown;

                height: 113px;
                margin-bottom: 29px;
                word-wrap: break-word;
                width: 95%;
                // margin: 0 auto;
                margin-bottom: 0px;
                @media all and (max-width: 480px) {
                  min-height: 55px;
                  width: 80%;
                  // margin: 0 auto;
                  height: auto;
                  margin-bottom: 10px;
                }
              }
              .gifttext-code-title{
                .header-font;
                // color: @dark-brown;
                font-size: 10px;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 0.08em;
                margin-bottom: 10px;
                @media all and (max-width: 480px) {
                  font-size: 6px;
                  line-height: 11px;
                }
              }
              .gifttext-code{
                display: inline-block;
                .header-font-02;
                // color: @dark-brown;
                font-size: 12px;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 0.08em;

                // margin-bottom: 32px;
                // @media all and (max-width: 990px) {
                //   font-size: 8px;
                //   line-height: 11px;
                //   margin-bottom: 16px;
                // }
              }
              .gifttext-disclaimer{
                .body-font;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: 0.015em;
                color: @white;
                position: absolute;
                bottom: 0px;

                @media all and (max-width: 480px) {
                  font-size: 10px;
                  display: none;
                }
                @media all and (max-width: 380px) {
                  font-size: 10px;
                  width: 70%;
                }
              }
            }
            .white {
              color: @white !important;
              .gifttext-disclaimer{
                color: @white !important;
              }
            }

          }


          #gift-design-01{

          }
          #gift-design-02{
            display: none;
            .gifttext{
              // color: @dark-orange !important;
            }
          }
        }

        
      }

      @media all and (max-width: 1099px) {
        margin: 0 auto;        
        width: 100%;
        text-align: center;
      }
    }
    .gift-card-content{
      display: inline-block;      
      vertical-align: top;
      padding-top: 15px;  
      padding-bottom: 70px;  

      @media all and (max-width: 1024px) {
        padding-left: 30px;
      }

      @media all and (max-width: 480px) {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
      }

      .product-options-bottom {
        .regular-price {
          display: none;
        }
      }

      .desc-title{
        // .gotham-bold;
        font-size: 11.5px;
        line-height: 18px;
        color: #464646;

        padding-top: 16px;

      }

      .cta-btn{
        text-align: right;
      }


      .italic {        
        font-size: 12.5px;
        line-height: 18px;
      }
      #ajax_loader_product {
        display: inline-block;
        margin-top: 4px;
        img {
          width: 15px;        
        }        
      }
      .ajax_msg_product {
        // position: absolute;
        // top: 0;
        // width: 260px;
        // right: 50px;
        margin-top: 5px;
        width: 300px;
        display: block;
        color: white;
        text-align: left;
        .body-font;
      }      
      .validation-advice {
        margin-left: 140px;
        float: none!important;
        clear: both!important;
        position: absolute;
      }

      p.j2t-loyalty-points {
        // .minion-pro-semibold-italic;
        font-size: 13px;
        line-height: 19px;
        // color: @dark-orange;
        // text-transform: none;
        position: absolute;
        top: -25px;
        text-align: center;
        width: 100%;
        left: 5px;
        text-transform: capitalize;
        display: none;
      }

      .inputs {
        margin-top: 15px;
        position: relative;
        overflow: visible!important;

        .each-input {
          position: relative;
          //margin-bottom: 20px;
          margin-bottom: 16px;
          margin-right: -30px;

          @media all and (max-width: 990px) {
            margin-right: 0px;
          }

          label {
            width: 110px;
            margin-right: 27px;
            vertical-align: middle;

            font-size: 9px;
            line-height: 15px;
            padding-bottom: 7px;
            .header-font;
            color: @white;
            text-transform: uppercase;

            .label-text {
              font-size: 12px;
              line-height: 16px!important;
              text-transform: none;
              // .minion-pro-semibold-italic;
              vertical-align: middle!important;
            }          

            &.align-top{
              vertical-align: top;
              margin-top: 7px;
            }
          }
          label[for=message] {
            vertical-align: top;
          }
        
          ul.social-sharing {  
            display: inline-block;      
            @media all and (max-width: 480px) {
              display: block;
            }
            li {
              display: inline-block;
              margin-right: 5px;
              a {
                color: @off-white;
                &:hover {
                  color: @off-black;
                }
              }
            }
          }        

          input[type="text"], input[type="password"], select, textarea {
            font-size: 11px; 
            // .gotham-book;
            // color: @new-grey;
            // background: @skin;
            border: none;
            padding: 5px 0 5px 15px;
            width: 281px!important;
            vertical-align: top;     
            background-color: #756b66;   
            color: @white;    
            @media all and (max-width: 480px) {
              width: 100%!important;
            }
          }
          @media all and (max-width: 480px) {
            #giftcard-template-show-images {
              display: block!important
            }
          }
          .quantity-container {
            display: inline-block;
            @media all and (max-width: 480px) {
              width: 100%;
            }
            input.qty {
              background: none;
              border: 1px solid @off-white;
              border-left: 0px;
              border-right: 0px;
              width: 36px;
              height: 24px;
              text-align: center;
              color: @off-white;
              font-size: 10px;
              line-height: 16px;
              .body-font;     
              padding: 0px;
              width: 40px!important; 
            }
            .plus {
              background: url(../images/icons/plus.png) no-repeat center;
              width: 10px;
              height: 10px; 
              display: inline-block;
              display: inline-block;
              border: 1px solid @off-white;
              padding: 11px;
              vertical-align: middle;
            }
            .minus {
              background: url(../images/icons/minus.png) no-repeat center;
              width: 10px;
              height: 10px; 
              display: inline-block;
              border: 1px solid @off-white;
              padding: 11px;
              vertical-align: middle;
            }
          }          

          span.orange{
            // .minion-pro-medium-italic;
            font-size: 12px;
            line-height: 27px;
            // color: @dark-orange;

            height: 27px;
            margin-left: 5px;
            letter-spacing: 0.02em;
          }

          .dropdown {
            margin-right: 10px;
            @media all and (max-width: 480px) {
              margin-right: 0px;
              width: 100%;
            }
            &:nth-of-type(3) {
              margin-right: 0px;
            }
          }

          .col-md-4 {
            // padding: 0px;
          }
          

          textarea {
            width: 280px;
            height: 130px;
          }

          textarea + span{

            &:before{
              content: "";
              display: inline-block;
              width: 110px;
              margin-right: 27px + 15px;
              @media all and (max-width: 1099px) {
                width: auto!important;
                margin-right: 0px!important;
              }
            }

            display: block;

            // .minion-pro-medium-italic;
            font-size: 10px;
            line-height: 12px;
            color: @white;

            letter-spacing: 0.02em;
            margin-left: -10px;
            margin-top: 5px;

            @media all and (max-width: 480px) {
              margin-left: 0px;
            }
          }

          #message_characters_remaining {
            &:before{
              content: "";
              display: inline-block;
              width: 45px;
              // margin-right: 27px + 15px;      
              @media all and (max-width: 1099px) {
                width: auto!important;
                margin-right: 0px!important;
              }        
            }
            display: inline-block;
            // .minion-pro-medium-italic;
            font-size: 12px;
            line-height: 16px;
            // color: @dark-orange;

            letter-spacing: 0.02em;
          }

          #recipient_name_characters_remaining{

            padding-top: 5px;

            &:before{
              content: "";
              display: inline-block;
              width: 45px;
              // margin-right: 27px + 15px;
              @media all and (max-width: 1099px) {
                width: auto!important;
                margin-right: 0px!important;
              }
            }

            display: inline-block;

            // .minion-pro-medium-italic;
            font-size: 12px;
            line-height: 16px;
            // color: @dark-orange;

            letter-spacing: 0.02em;
          }

          div.message_characters_remaining-msg {
            position: relative;
            top: -115px;
          }
          div.recipient_name_characters_remaining-msg {
            position: relative;
            top: -15px;
          }

          div.positional-msg {
            display: inline-block;
            // .minion-pro-medium-italic;
            font-size: 12px;
            line-height: 16px;            
            letter-spacing: 0.02em;
            margin-left: 8px;
            color: #636363;
          }

          .design-radio{
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 60px;
            position: relative;            

            margin-right: 15px;

            &.gift-active {
              border: none!important;
            }


            input[type=radio]{
              width: 60px;
              height: 60px;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 20;
              .opacity(0);

              cursor: pointer;
            }

            input[type="radio"]:checked + .radio-image{
              .selected{
                display: block;
              }
              .unselected{
                display: none;
              }
            }

            .radio-image, img{
              width: 60px;
              height: 60px;
              position: absolute;
              top: 0;
              left: 0;
            }


          }

          // added by jairus
          .dropdown-container{
            width: 281px;
            display: inline-block;
            vertical-align: top;
            // margin-left: 10px;
            // padding-right: 35px;

            .dropdown{
              width: 100%;
            }


            .intl-tel-input{
              .flag-dropdown, .selected-flag{
                width: 100%;
              }
              .selected-flag .arrow{
                left: auto;
                content: '';
                width:20px; 
                height:20px;
                background:url(../images/icons/dropdown.png) no-repeat 0px 11px;
                position:absolute;
                display:block;
                right: 0px;
                pointer-events:none;
                top: 0px;
                border: none;
              }
              input[type="text"]{
                padding-left: 45px;
              }
            }

            select{
              width: 100%!important;
            }
            input[type="text"]{
              width: 100%;
            }

            @media all and (max-width: 480px) {
              width: 100%;
            }

          }

          p{
            font-size: 11px;
            line-height: 14px;
            padding-right: 70px;
            letter-spacing: 0.03em;
          }

        }
      }

      #calendar-day_to_send {
        display: none;
      }      
      .product-info-col-2 {
        width: 100%;
        margin-left: 137px;
        .add-to-cart-buttons {
          text-align: left!important;
          position: relative;
        }
      }
    }
    .product-img {
      width: 90%;
      @media only screen and (max-width: 991px) {
        width: 100%;
        margin-top: -20px; // when actual product comes in may be not needed
        margin-bottom: -100px; // when actual product comes in may be not needed
      }
      @media only screen and (max-width: 480px) {
        margin-top: -10px;
      }
      
      .slick-next, .slick-prev {
        top: 50%;
        z-index: 999;
        margin-top: 0px;
        &:before {
          font-family: FontAwesome;
          color: @white;  
          font-size: 12px;      
        }      
      }
      .slick-next {
        right: 10px;
        &:before {          
          content: "\f054";
        }
      }
      .slick-prev {
        left: 10px;
        &:before {          
          content: "\f053";
        }
      }
    }
    .product-info {
      padding-top: 90px;
      padding-bottom: 90px;
      padding-left: 45px;
      padding-right: 45px;
      @media only screen and (max-width: 1024px) {
        padding-right: 0px!important;        
      }
      @media only screen and (max-width: 991px) {
        padding-top: 90px!important;
        padding-left: 0px!important;
        padding-bottom: 20px!important; 
      }
      @media only screen and (max-width: 480px) {
        padding: 100px 0 10px 0!important;
      }

      h3 {
        .header-font-02;
        text-transform: uppercase;
        padding-bottom: 20px;
        span {
          font-size: 16px;
          line-height: 20px;
        }
        sup {
          font-size: 10px;
        }
      }
      h5 {
        // font-size: 9px;
        line-height: 15px;
        padding-bottom: 7px;
        // color: @off-white;
        color: @white;
        text-transform: uppercase;
      }
      p {
        // color: @off-white;
        // font-size: 10px;
        // line-height: 16px;
        color: @white;

        // font-size: 12.5px;
        // line-height: 16px;

        font-size: 12.5px;
        line-height: 20px;

        margin-bottom: 24px;
      }
      span {
        //color: @off-white;
        //font-size: 10px;
        color: @white;

        // font-size: 12.5px;
        // line-height: 16px;
        
        font-size: 12.5px;
        line-height: 20px;

      }
      .ajax_msg_product {
        // position: absolute;
        // top: 22px;
        // width: 100%;
        // right: -140px;
        position: absolute;
        top: 52px;
        width: 130%;
        left: 0px;
        text-align: left;
        @media only screen and (max-width: 992px) {
          // right: 118px;
          position: static;
          display: block;
          margin-top: 10px;
          width: 100%;
        }
      }
      .row {
        margin-bottom: 28px;
      }
      .availability {
        display: none;
      }

      .product-info-col-2 {
        padding-left: 30px;
        @media only screen and (max-width: 1024px) {
          padding-left: 0px;
        }
        .add-to-cart-buttons {
          text-align: left;
          position: relative;
        }
      }

      .steeping-suggestion {
        .steeping-suggestion-icon-1 {
          background: url('../images/icons/thermometer-icon.svg') no-repeat;
          width: 10px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 11px;
        }

        .steeping-suggestion-icon-2 {
          background: url('../images/icons/clock-icon.svg') no-repeat;
          width: 20px;
          height: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 7px;
          margin-left: -5px;
        }
      }
      
      .social-media-share {
        margin-top: 24px;
        ul {        
          li {
            display: inline-block;
            margin-right: 5px;
            a {
              color: @off-white;
              &:hover {
                color: @off-black;
              }
            }
          }
        }
      }

      input.qty {
        background: none;
        border: 1px solid @off-white;
        border-left: 0px;
        border-right: 0px;
        width: 36px;
        height: 24px;
        text-align: center;
        color: @off-white;
        font-size: 10px;
        line-height: 16px;
        .body-font;      
        display: inline-block;
        vertical-align: middle
      }
      .plus {
        background: url(../images/icons/plus.png) no-repeat center;
        width: 10px;
        height: 10px; 
        display: inline-block;
        border: 1px solid @off-white;
        padding: 11px;
        vertical-align: middle;
      }
      .minus {
        background: url(../images/icons/minus.png) no-repeat center;
        width: 10px;
        height: 10px; 
        display: inline-block;
        border: 1px solid @off-white;
        padding: 11px;
        vertical-align: middle;
      }

      #add-to-cart {
        margin-top: 20px;
        background: none;
        // line-height: 27px;
        line-height: 25px;

        span{
          font-size: 10px;
          line-height: 25px;
        }
      }

      #ajax_loader_product {
        img {
          width: 15px;
          position: absolute;
          top: 25px;
          // right: -10px;
        }        
      }

      .j2t-loyalty-points {
        display: none;
      }
      
    }
    .suggestion-container {
      &.monogram-e-gift-card-suggestion-bg {
        display: none;
      }
      position: absolute;
      width: 30%;
      padding: 0px;
      right: 0px;
      background-color: rgba(236, 205, 206, 0.3);
      @media only screen and (max-width: 991px) {
        position: static;
        width: 102%;
        height: auto!important;
        margin-left: -10px;
      }
      @media only screen and (max-width: 480px) {
        width: 106%;
        margin-left: -10px;
        margin-right: -10px;
      }
      @media only screen and (max-width: 320px) {
        width: 107%;
      }
    }
    .earl-grey-neroli-suggestion-bg {
      background-color: rgba(179, 197, 205, 0.3);
    }
    .cherry-japonais-suggestion-bg {
      background-color: rgba(236, 205, 206, 0.3);
    }
    .black-tea-selection-suggestion-bg {
      background-color: rgba(197, 180, 227, 0.3);
    }
    .green-tea-and-oolong-selection-suggestion-bg {
      background-color: rgba(171 ,199 ,202, 0.3);
    }
    .herbal-tea-selection-suggestion-bg {
      background-color: rgba(186, 197, 185, 0.3);
    }
    .jasmine-silk-pearls-suggestion-bg {        
      background-color: rgba(163, 177, 200, 0.3);
    }
    .kashmere-suggestion-bg {        
      background-color: rgba(241, 166, 147, 0.3);
    }
    .lapsang-florale-suggestion-bg {        
      background-color: rgba(199, 180, 226, 0.3);
    }
    .milky-oolong-suggestion-bg {        
      background-color: rgba(216, 210, 196, 0.3);
    }
    .morning-english-suggestion-bg {        
      background-color: rgba(254, 210, 152, 0.3);
    }
    .provencal-herbs-suggestion-bg {        
      background-color: rgba(213, 215, 85, 0.3);
    }
    .rose-of-ariana-suggestion-bg {        
      background-color: rgba(253, 146, 163, 0.3);
    }
    .saffronais-suggestion-bg {        
      background-color: rgba(255, 170, 97, 0.3);
    }
    .shiso-mint-suggestion-bg {        
      background-color: rgba(188, 196, 185, 0.3);
    }
    .tea-tasting-assortment-suggestion-bg {        
      background-color: rgba(235, 194, 131, 0.3);
    }
    .uji-sencha-suggestion-bg {        
      background-color: rgba(189, 200, 196, 0.3);
    }

    .suggestion {
      padding-top: 80px;
      padding-bottom: 10px;
      @media only screen and (max-width: 991px) {
        padding: 40px 15px;
      }
      h5 {
        // font-size: 9px;
        line-height: 10px;
        padding-bottom: 7px;
        // color: @off-white;
        color: @white;
        text-transform: uppercase;
        text-align: center;
        @media only screen and (max-width: 991px) {
          text-align: left;
        } 
      }
      ul.suggestion-list {
        @media only screen and (max-width: 991px) {
          margin-bottom: 0px;
          padding-top: 20px;
        } 
        > li {
          // margin-bottom: 15px;
          margin-bottom: 35px;

          &:last-child {
            @media only screen and (max-width: 991px) {
              margin-bottom: 0px;
            }  
          }          
        }
        .slick-prev {
          left: 0px;  
          &:before {               
            content: "\f053";
          }
          @media only screen and (max-width: 375px) {
            left: -10px;
          }
          @media only screen and (max-width: 320px) {
            left: -10px;
          }
        }
        .slick-next { 
          right: 0px; 
          &:before {          
            content: "\f054";
          }
          @media only screen and (max-width: 375px) {
            right: -10px;
          }
          @media only screen and (max-width: 320px) {
            right: -10px;
          }
        }
        .slick-prev, .slick-next {
          top: 60%;
          z-index: 2;
          &:before {         
            display: inline-block;
            font-family: FontAwesome;
            font-size: 14px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);            
            color: @white;
          }   
        }
      }
      ul {
        padding-top: 10px;        
        text-align: center;
        li {
          a {
            // .header-font;
            .header-font-02;
            // font-size: 10px;
            font-size: 13px;
            line-height: 13px;
            padding-bottom: 7px;
            // color: @off-white;
            color: @white;
            text-transform: uppercase;
            letter-spacing: 0.08em;
            
            // &.suggestion-add-to-cart {
            //   @media only screen and (max-width: 991px) {
            //     display: none;
            //   }
            // }

            // display: inline-block;
            i {
              font-size: 10px;
              padding-left: 3px;
            }
            &:hover {
              color: fade(@off-white, 50%);              
            }
            &.product-image {
              padding-bottom: 0px;
              position: relative;
              img {
                @media only screen and (max-width: 991px) {
                  margin: 0 auto;
                }
                &.actual-product-image {
                  visibility: visible;
                  .opacity(1);
                  .transition(0.5s);
                }
              }
              .graph-combination-hover-img {
                  visibility: hidden;
                  .opacity(0);
                  .transition(0.5s);
                  margin: 0 auto;
                  position: relative;
                  height: 140px;
                  width: 140px;
                  margin-top: -140px;
                  .graph-img-1, .graph-img-2 {
                    width: 140px;
                    height: 140px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                  }                  
              }
              &.no-hover {
                img {
                  &.actual-product-image {
                    visibility: visible!important;
                    .opacity(1)!important;
                    .transition(0.5s)!important;
                  }
                }
              }
              &:hover {
                .actual-product-image {
                  visibility: hidden;
                  .opacity(0);
                  // position: absolute;
                }
                .graph-combination-hover-img {                  
                  visibility: visible;
                  .opacity(1);
                }
              }
            }
          }
          .suggestion-add-to-cart{
            .header-font;
            font-size: 10px;
            letter-spacing: 0.0em;

          }
        }
        &.two-column {
          li.each-product {
            width: 45%;
            display: inline-block;
            a {
              img {
                width: 128px;
              }
            }
          }
        }
      }
    }
    .custom-product-carousel .slick-prev , .custom-product-carousel .slick-next {
      // display: none!important;
    }
  }    
}

#tea-product-detail-section-2 {
    background-color: @whiteish-grey;
    padding-top: 80px;
    padding-bottom: 80px;
    @media only screen and (max-width: 480px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }


    #popular-tea-layering-container{
      text-align: center;
    }


    // margin-top: 40px;
    .review-product {
      text-align: center;
      width: 202px;
      margin: 0 auto;
      display: inline-block;
      vertical-align: top;
      width: 19.7%;

      .img-container {
        position: relative;
        margin: 0 auto;
        display: block;
        padding-bottom: 30px;
        height: 140px;   
      }
    }
    img {
      margin: 0 auto;
      &.parent {
        position: absolute;
        width: 180px;   
        top: 0;
        left: 10%;
        z-index: 1;   
        @media only screen and (max-width: 991px) {
          left: -10%;
        }  
        @media only screen and (max-width: 320px) {
          left: 15%;
        }                
      }
      &.overlay {   
        position: absolute;
        width: 180px;        
        top: 0;
        left: 10%;
        z-index: 0;   
        @media only screen and (max-width: 991px) {
          left: 0%;
        }   
        @media only screen and (max-width: 320px) {
          left: 15%;
        }     
      }
    }
    .slick-slider {
      margin: 0px;
    }
    .slick-prev {
      left: 0px;  
      &:before {               
        content: "\f053";
      }
      @media only screen and (max-width: 375px) {
        left: -10px;
      }
    }
    .slick-next { 
      right: 0px; 
      &:before {          
        content: "\f054";
      }
      @media only screen and (max-width: 375px) {
        right: -10px;
      }
    }
    .slick-prev, .slick-next {
      top: 45%;
      z-index: 2;
      &:before {         
        display: inline-block;
        font-family: FontAwesome;
        font-size: 14px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);            
        color: @footer-brown;
      }   
    }

    h4 {
      color: @footer-brown;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 45px;

      // font-size: 16px;
      font-size: 15px;

      

      letter-spacing: 0.08em;
      @media only screen and (max-width: 991px) {
        text-align: left;
        padding-bottom: 0px;
      }   
    }

    h3 {


      .header-font-02;
      text-transform: uppercase;
      text-align: center;
      color: @footer-brown;

      font-size: 12px;
      line-height: 16px;

      padding-bottom: 10px;
      padding-top: 20px;
      sup {
        font-size: 9px;
      }
    }
    h5 {
      // font-size: 9px;
      line-height: 10px;
      padding-bottom: 7px;
      color: @footer-brown;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      text-align: center;
      color: @footer-brown;
      // font-size: 10px;
      // line-height: 16px;
      
      /// font-size: 12px;
      /// line-height: 18px;
      
      font-size: 12.5px;
      line-height: 20px;

      margin-bottom: 24px;
      // width: 150px;
      width: 85%;
      margin: 0 auto;
      &.write-review {
        @media all and (max-width: 991px) {
          width: 100%;
          text-align: left;
        }        
      }
    }
}

#tea-product-detail-section-3 {
  padding-top: 80px;
  padding-bottom: 80px;
  @media only screen and (max-width: 480px) {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .container-fluid {
    @media only screen and (max-width: 991px) {
      padding: 0 40px;
    }
    @media only screen and (max-width: 480px) {
      padding: 0 30px;
    }
  }
  .row {
    padding-bottom: 15px;
  }
  h4 {
    color: @off-white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 45px;

    // font-size: 16px;
    font-size: 15px;
    letter-spacing: 0.08em;
    @media only screen and (max-width: 991px) {
      text-align: left;
    }
  }
  h3 {
    .header-font-02;
    text-transform: uppercase;
    // font-size: 12px;
    font-size: 13px;
    padding-left: 20px;
    @media only screen and (max-width: 991px) {
      padding-left: 0px;
    }
  }
  label {
    .header-font;
    text-transform: uppercase;
    // color: @off-white;
    // font-size: 9px;
    color: @white;
    font-size: 10px;
    letter-spacing: 0.08em;
  }
  input {
    border: none;
    background-color: #756b66;
    width: 100%;

    .body-font; 
    // height: 26px;
    // font-size: 10px;
    // color: @off-white;
    
    height: 30px;
    color: @white; 
    font-size: 12px;
    padding-left: 20px;
  }
  .col-md-6 {
    padding-right: 0px;
    @media only screen and (max-width: 991px) {
      padding-right: 10px;
    }
  }
  textarea {
    border: none;
    background-color: #756b66;
    // width: 233px;
    width: 100%;
    // height: 105px;
    .body-font; 
    // font-size: 10px;    
    // color: @off-white; 
    padding-left: 20px;
    padding-right: 20px;

    height: 113px;
    font-size: 12px;
    color: @white;
    // padding-top: 7px;
    padding-top: 10px;
    resize: vertical;
  }
  p {
    color: @white;
  }
  .submit-btn-container {
    position: relative;
    margin-top: 40px;
    text-align: right;
  }
  .review-input {
    position: relative;
    #ajax_loader_review {
      position: absolute;
      right: 110px;
      bottom: -2px;
      display: none;

    }
    .ajax_msg_review {
      position: absolute;
      right: 40px;
      bottom: -22px;
    }
  }
  

  .dropdown {
    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
    display: inline-block;
    position: relative;
    width: 100%;
    &:before {
      font-family: FontAwesome;
      content: "\f107";
      position:absolute;
      display:block;
      top: 3px;
      right: 12px;
      pointer-events: none;
      font-size: 10px;
      color: @off-white;
    }
    select {
      background-color: #756b66;
      border: none;
      // height: 26px;
      padding-left: 20px;   
      width: 100%;

      

      .appearance(none);
      .round(0px);  
      // font-size: 10px;    
      // color: @off-white;
      .body-font;

      height: 30px;
      font-size: 12px;
      color: @white;
    }
  }
}

