.trader-account-creation-page {
  overflow-y: visible;
  overflow-x: hidden;
}

.trader-account-creation-section-1 {

  padding-top: 70px;
  @media only screen and (max-width: 991px) {
    padding-top: 0px;
  }

  h1 {
    .header-font-02;
    font-size: 26px;
    line-height: 30px;

    text-align: left;
    text-transform: uppercase;
    color: @off-white;
    
    // margin-bottom: 35px;
    margin-bottom: 15px;
  }
  p {
    text-align: left;
    // color: @off-white;
    color: @white;
    // margin-bottom: 60px;
    margin-bottom: 30px;

    @media only screen and (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  .trade-signup {
    .trade-signup-banner {
      .caption {
        text-align: center;
      }
    }

    .main-content {
      .first-content {

      }
      .last-content {
        #trader_register {
          textarea {
            width: 100%;
          }
        }
      }
    }

  }
}