input.input-class {
  background-color: #756b66;
  border: none;
  .body-font;
  font-size: 10px;
  line-height: 20px;
  color: @off-white;
  padding-left: 18px;
  height: 24px;  
}

textarea {
  background-color: #756b66;
  border: none;
  .body-font;
  font-size: 10px;
  line-height: 20px;
  color: @off-white;
  padding-left: 18px;
}