/*
//used in trax
.improve-font-rendering(){
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 0px;
  //-webkit-text-stroke: 0.3px;
  //-webkit-text-stroke: 0.2px;
}
*/
.optimize {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
}
.optimize-02 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.add-translate-z {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.improve-fonts-02 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.improve-fonts-03 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-weight {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.space10 {
  height: 10px;
}
.space15 {
  height: 15px;
}
.space20 {
  height: 20px;
}
.space30 {
  height: 30px;
}
.space40 {
  height: 40px;
}
.space50 {
  height: 50px;
}
.space60 {
  height: 60px;
}
.space70 {
  height: 70px;
}
.space80 {
  height: 80px;
}
.space90 {
  height: 90px;
}
.space100 {
  height: 100px;
}
.fontsize10 {
  font-size: 10px;
}
.fontsize11 {
  font-size: 11px;
}
.fontsize12 {
  font-size: 12px;
}
.fontsize13 {
  font-size: 13px;
}
.fontsize14 {
  font-size: 14px;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize18 {
  font-size: 18px;
}
.fontsize20 {
  font-size: 20px;
}
.fontsize98 {
  font-size: 98px;
  line-height: 98px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.justify-inline-blocks {
  text-align: justify;
}
.justify-inline-blocks:after {
  content: "";
  display: inline-block;
  width: 100%;
}
h2.cmb-group-name {
  padding-left: 0px !important;
  font-size: 24px !important;
  color: #222 !important;
  font-weight: 600 !important;
}
.cmb-type-title {
  background: #eee;
  text-align: center;
  margin-bottom: 20px !important;
  margin-top: 40px !important;
}
.cmb-type-title h5.cmb2-metabox-title {
  font-size: 24px !important;
  color: #222 !important;
  font-weight: 600 !important;
}
.cmb2GridRow .cmb2-id--monogram-banner-image .button,
.cmb2GridRow .cmb2-id--monogram-banner-image-mobile .button,
.cmb2GridRow .cmb2-id--monogram-banner-image-tablet .button,
.cmb2GridRow .cmb2-id--monogram-banner-2-image .button,
.cmb2GridRow .cmb2-id--monogram-banner-2-image-mobile .button,
.cmb2GridRow .cmb2-id--monogram-banner-2-image-tablet .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-0-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-1-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-2-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-3-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-4-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-5-image .button,
.cmb2GridRow .cmb2-id--monogram-image-text-group-6-image .button {
  margin-top: 10px;
  margin-left: 0px !important;
}
.cmb2GridRow .cmb2-id--monogram-banner-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-banner-image-mobile .img-status img,
.cmb2GridRow .cmb2-id--monogram-banner-image-tablet .img-status img,
.cmb2GridRow .cmb2-id--monogram-banner-2-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-banner-2-image-mobile .img-status img,
.cmb2GridRow .cmb2-id--monogram-banner-2-image-tablet .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-0-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-1-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-2-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-3-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-4-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-5-image .img-status img,
.cmb2GridRow .cmb2-id--monogram-image-text-group-6-image .img-status img {
  width: 100%;
  height: auto;
}
#_quest_service_list_repeat {
  font-size: 0;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row {
  *zoom: 1;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row:before,
#_quest_service_list_repeat .cmb-row.cmb-repeat-row:after {
  display: table;
  content: "";
  line-height: 0;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row:after {
  clear: both;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row .cmb-td {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row .cmb-td:nth-child(1) {
  width: 70% !important;
  float: left;
}
#_quest_service_list_repeat .cmb-row.cmb-repeat-row .cmb-td:nth-child(2) {
  width: 23% !important;
  float: right;
}
